*{
    margin: 0;
    padding: 0;
}
#mainScreen{
    width: 512px;
    height: 768px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.bg{
    width: 512px;
    height: 768px;
    position: absolute;
    background-image: url(../image/bg.jpg);
    background-size: 512px 768px;
}
#bg2{
    top: -768px;
}
#airplane{
    width: 109px;
    height: 82px;
    background-image: url(../image/test.png);
    background-size: 109px 82px;
    position: absolute;
    left: 200px;
    top: 670px;
}
.bullent{
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: yellow;
    
}
.tank{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../image/tank.png);
    background-size: 40px 40px;
}